<footer class="footer">
    <div class="footer__container">
        <section>
            <h2 class="footer__title">Sobre</h2>
            <p class="footer__about-text">
                Lorem ipsum dolor sit amet. Et unde fuga ut voluptate neque ut corrupti tenetur et tempora placeat est eligendi enim est autem temporibus et quia!
            </p>
        </section>
        <address>
            <h2 class="footer__title">Contato</h2>
            <ul>
                <li><i class="fa-solid fa-envelope"></i> email@email.com</li>
                <li><i class="fa-solid fa-phone"></i> (XX) X XXXX-XXXX</li>
                <li><i class="fa-brands fa-whatsapp"></i> (XX) X XXXX-XXXX</li>
            </ul>
        </address>
    </div>
    <section class="footer__copyright">
        &copy; Todos os direitos reservados
    </section>
</footer>